<!DOCTYPE html>
<html>

<head>
    <title>G2 Airline - Airline Ticket Reservation by Group 2 of 2SE1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Group 2 of 2SE1 - Alfiansyah, Rafi Fajar Sulaiman and Wahyu Agung Utomo">
    <meta name="charset" content="UTF-8">
    <meta name="description" content="G2 Airline is Dedicated To Reserve Your Flight">
    <link rel="stylesheet" type="text/css" href="../assets/css/result_remake.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="shortcut icon" href="../assets/img/Icons/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../assets/img/Icons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <!-- navbar -->
    <div class="wrapper">
        <nav>
            <div class="container-flex">
                <div class="brand">
                    <a href="../view/home.html">G2 Airline</a>
                </div>
                <div class="burger ">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
                <div class="bg-sidebar"></div>
                <ul class="sidebar">
                    <li><a href="#about">About</a></li>
                    <li><a href="#service">Service</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li><a href="#blog">Blog</a></li>
                    <li class="clr4 dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">Login<span class="caret"></span></a>
                        <ul class="dropdown-menu" style="padding: 20px 10px 5px 10px; width:300px;">
                            <li>
                                <form>
                                    <div class="form-group">

                                        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                                    </div>
                                    <div class="form-group">

                                        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox"> Remember me</label>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Login</button>
                                </form>
                            </li>
                        </ul>
                    </li>
                    <li><a href="register.html">Register</a></li>
                </ul>
            </div>
        </nav>
        <script src="../assets/js/navbar.js"></script>
    </div>

    <!-- panel - searched -->
    <div class="panel searched shadowed">
        <div class="col-6">
            <div class="row content">
                <div class="content">
                    <h1>About G2 Airline</h1>
                </div>
                <div class="col-12 content">
                    <p> We are an airline that has existed since ancient times, but still cannot be trusted by the public and still does not want to develop</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <script src="../assets/js/main.js"></script>
    <script src="../assets/js/home.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
<footer class="footer-distributed" id="blog">

    <div class="footer-left">
        <img src="../assets/img/garuda_indonesia.png">
        <h3>G2<span>Airline</span></h3>

        <p class="footer-links">
            <a href="home.html">Home</a> |
            <a href="#blog">Blog</a> |
            <a href="#about">About</a> |
            <a href="#contact">Contact</a>
        </p>

        <p class="footer-company-name">©2022 - Made With Love</p>
    </div>

    <div class="footer-center" id="contact">
        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Gedung Enginering Center Lt. 1,
                    FTUI Kampus Baru UI Depok,</span> Kukusan, Kecamatan Beji, Kota Depok, Jawa Barat 16425</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>(021) 7863508</p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="https://ccit.eng.ui.ac.id/">g2airline@gmail.com</a></p>
        </div>
    </div>
    <div class="footer-right">
        <p class="footer-company-about" id="about">
            <span>About the company</span> We are an airline that has existed since ancient times, but still cannot be trusted by the public and still does not want to develop</p>
        <div class="footer-icons">
            <a href="https://id-id.facebook.com/"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/perogeremmer"><i class="fa fa-twitter"></i></a>
            <a href="https://www.instagram.com/?hl=id"><i class="fa fa-instagram"></i></a>
            <a href="https://id.linkedin.com/"><i class="fa fa-linkedin"></i></a>
            <a href="https://www.youtube.com/?hl=ID"><i class="fa fa-youtube"></i></a>
        </div>
    </div>
</footer>

</html>